<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <%- include('shared/links') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('shared/navbar',{isAuth}) %>
    <% if(isAuth){ %>
      <div class="mainSecBg">
        <div style="width: 20vw; background-color: white; padding: 60px 20px; border-radius: 20px;">
          <form class="d-flex gap-3 flex-column align-items-center"  onsubmit="uplFile(event)">

            <div class="d-flex align-items-center gap-2">
              <label for="uploadFile" class="custom-icon-label p-0">+</label>
              <h4>Add File</h4>
              <input type="file" id="uploadFile" multiple class="form-control d-none">
            </div>
            <div id="files">
              <p id="fileNameDisplay">No file chosen</p>
            </div>
          <input type="text" class="form-control" placeholder="Message" style="border-radius: 0; margin-top: 50px; height: 50px;">
          <button class="btn btn-grey" type="submit">Transfer</button>
        </form>
        </div>
        
        <div style="background-color: white; padding: 10px 20px; margin: 10px;" class="d-none" id="downloadLink">
          <h6>
            Sharable Download Link
          </h6>
        </div>

      </div>
      <% } else { %>
        <div class="container">
          Login to send file
        </div>
      <% } %>
    <script src="/JS/home.js"></script>
  </body>
</html>
